/* ===============PAGE LIST REPORT COMMENT/DASHBOARD=============== */
.content-sidebar .part-dashboard {
     text-align: center;
     width: 100%;
}

td.t-report-comment {
     display: flex;
     justify-content: space-around;
}

td.t-report-comment a.check-comment:hover {
     background: #35bb29;
}

td.t-report-comment a.times-comment:hover {
     background: #9E1820;
}

/* ===========================PAGE CREATE ARTICLE===========================  */
.part-addArticle {
     width: 100%;
}
.part-addArticle .form form .title label input {
     width: 90%;
}

.part-addArticle .form form .where {
     display: flex;
}

.part-addArticle .form form label  {
     display: flex;
}

.part-addArticle .form form label span {
     width: 100px;
}

.part-addArticle .form form label input {
     width: 70%;
     margin: 0;
}

.part-addArticle .form form .is-published-or-draft {
     display: flex;
     justify-content: center;
     align-items: center;
}

.part-addArticle .form form .is-published-or-draft label span {
     display: flex;
     justify-content: center;
     align-items: center;
}

.part-addArticle .form form button.submit {
     padding: 10px;
     background: #006669;
     color: white;
     border: none;
     border-radius : 5px
}

.part-addArticle .form form button.submit:hover {
     background: #005558;
     font-weight: 600;
}
/*=================== PAGE ARTICLE MANAGEMENT=================== */
.part-management {
     text-align: center;
     width: 100%;
}

td a.t-content-article {
     text-decoration: none;
     color: black;
}

td.td-content-article {
     text-align: justify;
}

td a.t-content-article:hover {
     font-weight: 600;
     color: #006669;
}

td i.t-published-ok {
     color: #35bb29;
     font-size: 30px;
     font-weight: 800;
}

td i.t-published-no {
     color: rgb(185, 29, 29);
     font-size: 30px;
     font-weight: 800;
}

td.t-action {
     display: flex;
     justify-content: space-around;
}

td.t-action a.publish:hover {
     background: #006669;
}

td.t-action a.feather:hover {
     background-color: #186d9e;
}

td.t-action a.pencil:hover {
     background: #a039cf;
}

td.t-action a.times:hover {
     background: #9E1820;
}

/* ============================PAGE EDIT============================  */

.content-sidebar h1 {
     text-transform: uppercase;
     font-weight: 700;
}

.content-sidebar .form {
     width: 100%;
     padding: 30px;
}

.content-sidebar .form form .form-header,
.content-sidebar .form form .form-country,
.content-sidebar .form form .form-content {
     padding: 15px;
     text-align: center;
}

.content-sidebar .form form .form-country {
     display: flex;
     justify-content: space-around;
}

.content-sidebar .form form .form-country label {
     padding-top: 15px;
}

.content-sidebar .form form label {
     padding: 8px;
     font-size: 20px;
     font-weight: 600;
     color: #505f75;
     text-transform: uppercase;
     padding: 15px;
     margin-top: 15px;
}

.content-sidebar .form form input {
     width: 50%;
     margin: 0 auto;
     border: none;
     outline: none;
     background: none;
     display: block;
     font-size: 17px;
     border-bottom: 1px solid rgba(109, 93, 93, 0.4);
     text-align: center;
}

.content-sidebar .form form textarea {
     width: 100%;
     margin: 0 auto;
     border: none;
     outline: none;
     background: none;
     display: block;
     font-size: 17px;
     border: 1px solid rgba(109, 93, 93, 0.4);
     text-align: center;
     padding: 15px;
     margin-top: 20px;
     border-radius: 5px;
}

.content-sidebar .form form button.btn {
     padding: 10px;
     background: #006669;
     color: #fff;
     border: 1px solid transparent;
     border-radius: 5px;
     margin: 30px;
     font-size: 18px;
}


/*======================== PAGE MANAGE USER======================== */
.part-manage-user {
     width: 100%;
     text-align: center;
}

.part-manage-user table tr {
     text-align: center;
}

td.t-user {
     display: flex;
     justify-content: space-around;
}

td.t-user a.user-eye:hover {
     background: #186d9e;
     font-weight: 600;
}

td.t-user a.user-lock:hover {
     background: #9E1820;
     font-weight: 600;
}
td.t-user a.user-check:hover {
     background: #35bb29;
     font-weight: 600;
}
/*PAGE DISPLAY USER */