/*-----------------------Message Error Block = like Error 404----------------------- */

.msgError {
    min-height: 44.5vh;
}

.msgError .alert.alert-danger {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 25px;
    margin: 45px 0;
}