/*-----------------------Message Error Block = like Error 404----------------------- */


main,
main .nav-section,
main .alert{
    width: 100%;
    margin: 0;
    padding: 0;
}

main .nav-section {
    height: 13vh;
    background: black;
}

main .alert {
    text-align: center;
    height: 35vh;
    display: flex;
    align-items: center;
    background: #f8d7da;
}

main .alert p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-weight: 700;
    color: #8b3e46;
    margin: 0 auto;
}

