.slider-container {
     max-width: 100%;
     margin: auto;
     position: relative;
     overflow: hidden;
}

.slider-container .slider-items {
     overflow: hidden;
     transition: margin 1s ease;

}

.slider-container .slider-items .item {
     position: relative;
     float: left;
}

.slider-container .slider-items .item img {
     width: 100%;
     display: block;
     height: 100vh;
}

.slider-container .slider-items .item .caption {
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     background: rgba(0, 0, 0, .5);
     color: #fff;
     font-size: 30px;
     padding: 15px;

}

.slider-container .prev-slide {
     position: absolute;
     height: 40px;
     width: 40px;
     color: #fff;
     background: rgba(0, 0, 0, .9);
     font-size: 25px;
     border-radius: 50%;
     left: 20px;
     top: 50%;
     margin-top: -20ox;
     text-align: center;
     font-weight: bold;
     font-style: 16px;
     line-height: 40px;
     cursor: pointer;
}

.slider-container .next-slide {
     position: absolute;
     height: 40px;
     width: 40px;
     color: #fff;
     background: rgba(0, 0, 0, .9);
     font-size: 25px;
     border-radius: 50%;
     right: 20px;
     top: 50%;
     margin-top: -20ox;
     text-align: center;
     font-weight: bold;
     font-style: 16px;
     line-height: 40px;
     cursor: pointer;
}