* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Dosis', sans-serif;
}

/* ------------------------------PAGE HOMEPAGE----------------------------  */

/*-----------------------------SLIDER---------------------------------*/
.content {
     min-height: 100%;
}

/* PART SLIDER  */

.slider-container {
     max-width: 100%;
     margin: auto;
     position: relative;
     overflow: hidden;
}

.slider-items {
     overflow: hidden;
     transition: margin 1s ease;

}

.item {
     position: relative;
     float: left;
}

.item img {
     width: 100%;
     display: block;
     height: 100vh;
}

.caption {
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     background: rgba(0, 0, 0, .5);
     color: #fff;
     font-size: 30px;
     padding: 15px;

}

.prev-slide {
     position: absolute;
     height: 40px;
     width: 40px;
     color: #fff;
     background: rgba(0, 0, 0, .9);
     font-size: 25px;
     border-radius: 50%;
     left: 20px;
     top: 50%;
     margin-top: -20px;
     text-align: center;
     font-weight: bold;
     font-size: 16px;
     line-height: 40px;
     cursor: pointer;
}

.next-slide {
     position: absolute;
     height: 40px;
     width: 40px;
     color: #fff;
     background: rgba(0, 0, 0, .9);
     font-size: 25px;
     border-radius: 50%;
     right: 20px;
     top: 50%;
     margin-top: -20px;
     text-align: center;
     font-weight: bold;
     font-size: 16px;
     line-height: 40px;
     cursor: pointer;
}

/* ==============PART SECTION ARTICLE==============  */

main section {
     padding: 15px;
     display: flex;
     justify-content: space-between;
}

.section-article {
     padding: 10px;
     text-align: center;

}




.article-body {
     text-align: justify;
}

.article-body button {
     padding: 10px;
     background: #005255;
     border-radius: 5px;

}

.article-body button a {
     text-decoration: none;
     color: #fff;
}


.section-category {
     background: #d4d4d4b6;
     width: 600px;
     padding: 10px;
     text-align: center;
}

.about-me {
     display: flex;
     flex-direction: column;
     align-items: center;
}

.about-me-img img {
     width: 130px;
     height: 130px;
     border-radius: 50%;
}

.about-me p {
     text-align: justify;
}

/* ===============================ARTICLE HOMEPAGE=============================== */


/* ----------------------------PAGE ARTICLE--------------------------  */



.img {
     width: 100%;
     height: 500px;
     background: no-repeat center/100% url("../Images/2.jpg");
     display: flex;
     align-items: center;
     justify-content: center;
}

.article-title {
     color: #fff;
     background: rgba(0, 0, 0, .6);
     width: 100%;
     text-align: center;
     text-transform: uppercase;
}

.article-title h2 {
     font-size: 50px;
}

.article-content {
     padding: 10vh 10vh 3vh 10vh;
     text-align: justify;
}


/* --------------------------PART COMMENTS-------------------------- */
/*--------------------------FORM COMMENTS-----------------------*/
.part-comments,
.part-comments .part-form-comment,
.part-comments .part-form-comment form,
.part-comments .part-form-comment form .form-group,
.part-comments .part-listComment,
.part-comments .part-listComment .comments {
     width: 100%;
}

/*-----------------------FORM COMMENT----------------------- */
.form-comment .form-group {

     display: flex;
     flex-direction: column;
     width: 80%;
     margin: 0 auto;


}

.form-comment .form-group label {
     padding: 5vh 11vh;
     font-weight: 600;
     text-transform: uppercase;
     font-size: 25px;
     font-weight: 700;
}

.form-comment .form-group textarea#comment {
     height: 30vh;
     width: 90%;
     margin: 50px 0;
     border-radius: 10px;
     font-size: 15px;
     padding: 15px;

}

.form-comment button {
     background: #006669;
     color: #fff;
     padding: 15px;
     margin: 3vh 14vh;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     transition: all .6s;
}

.form-comment button:hover {
     background: #005255;
}

.msg-display-article {
     display: flex;
     justify-content: center;
     align-items: center;
     background: rgba(194, 194, 194, 0.4);
     height: 30vh;
     width: 50%;
     margin: 30px auto;
     border-radius: 10px;
     text-align: center;
}

.msg-display-article h2 a {
     text-decoration: none;
     color: black;
}

.msg-display-article h2 a:hover {
     color: #006669;
}



/*--------------------List Comments---------------------------*/

.part-comments {
     padding: 30px;
     background: rgba(182, 181, 181, 0.4);
}

.part-comments h3 {
     padding: 15px;
}

.part-comments .comment-header {
     display: flex;
     justify-content: space-between;
}

.part-comments .comments .show-comments {
     width: 70%;
     margin: 20px auto;
     padding-bottom: 15px;
     border-bottom: 1px solid rgba(110, 110, 110, 0.5);
}

.show-comments .comment-header .username {
     font-weight: 800;
}

.show-comments .comment-header .username span {
     font-weight: normal;
}

.show-comments div {
     display: flex;
}

.show-comments div p {
     margin-right: 5px;
}

.show-comments div a {
     text-decoration: none;
     color: #b41515;
}


.report-comment {
     display: flex;
     justify-content: center;
     align-items: center;
     background: #f8d7da;
     text-align: center;
     height: 5em;
}

.report-comment p {
     margin: 0;
     font-weight: 700;
     color: #8b3e46;
}

.report-comment a {
     font-size: 18px;
     color: #b41515;
     margin: 0 5px;
}

.report-comment a:hover {
     color: #8b3e46;
     font-weight: 800;
}

/*------------------PAGE LIST ALL ARTICLES------------------ */
.part-all-articles h1 {
     text-align: center;
     text-transform: uppercase;
     font-weight: 700;
}

.part-all-articles .list-articles {
     margin: 30px;
}

.part-all-articles .list-articles .list {
     width: 100%;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
}

.part-all-articles .list-articles .list .image {
     background: #50A7FF;
     position: relative;

     max-width: 460px;
     height: 300px;
     margin: 20px;
     overflow: hidden;
}

.part-all-articles .list-articles .list .image img {
     opacity: 0.8;
     position: relative;
     vertical-align: top;
     transition: .6s opacity;
}

.image:hover img {
     opacity: 1;
}

.image .details {
     z-index: 1;
     position: absolute;
     top: 0;
     right: 0;
     color: #fff;
     width: 100%;
     height: 100%;
}

.image .details h3 {
     text-align: center;
     font-size: 35px;
     text-transform: uppercase;
     font-weight: 300;
     margin-top: 70px;
     transition: 0.4s transform;
}


.image .details h3 span {
     font-weight: 900;
}

.image:hover .details h3 {
     transform: translateY(-30px);
}


.more {
     position: absolute;
     background: rgba(255, 255, 255, 0.8);
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 15px;
     bottom: -60px;
     transition: 0.6s;
     transition-property: bottom;
}

.image:hover .more {
     bottom: 0;
}

.more .read-more {
     color: #000;
     text-decoration: none;
     font-size: 20px;
     font-weight: 500;
     text-transform: uppercase;
}

.more .read-more span {
     font-weight: 900;
}



/* -----------------PART SIGN IN-----------------  */

/* ---------------------PAGE SIGN UP-------------  */
.part-register {
     width: 100%;
     text-align: center;
}

.part-register .signUp {
     height: 70vh;
     padding: 5vh 0;
}

.part-register .signUp h1 {
     text-transform: uppercase;
}

.part-register .signUp a {
     text-decoration: none;
     color: #505f75;
}

.part-register .signUp a:hover {
     color: #006669;
     font-weight: 600;
     transition: all .6s;
}

.part-register .signUp .form-register form .form {
     display: flex;
     flex-direction: column;
}

.part-register .signUp .form-register form .form label {
     padding: 8px;
     font-size: 14px;
     font-weight: 600;
     color: #505f75;
     text-transform: uppercase;
}

.part-register .signUp .form-register form .form input {
     width: 50%;
     margin: 0 auto;
     border: none;
     outline: none;
     background: none;
     display: block;
     font-size: 16px;
     padding-bottom: 5px;
     border-bottom: 1px solid rgba(109, 93, 93, 0.4);
     text-align: center;
}

.part-register .signUp .form-register form button {
     padding: 10px;
     background: #006669;
     color: #fff;
     border: 1px solid transparent;
     border-radius: 5px;
     transition: all .6s;
     margin: 10px;
}

/*==========================PAGE PROFIL==========================*/

.part-profil {
     text-align: center;
}

.part-profil h1 {
     text-transform: uppercase;
     padding: 25px;
}

.profil-user-body p {
     font-size: 18px;
     font-weight: 600;
     padding: 10px;
}

.profil-user-body p.is-blocked {
     color: #b41515;

}

/* =====================================PAGINATION =====================================*/
.pagination {
     display: flex;
     justify-content: center;
}

/* -----------------------------------------RESPONSIVE----------------------------------------- */
@media (max-width : 1080px) {
     .image {
          flex: 100%;
          max-width: 480px;
     }
}

@media (max-width : 400px) {


     .image .details p {
          font-size: 16px;
     }

     .more .read-more,
     .more .icon-links a i {
          font-size: 18px;
     }
}

@media all and (max-width: 780px) {

     /* ---------------PAGE ARTICLE---------------  */
     article .part-article .article-header .img {
          height: 50vh;
     }

     .article-header .article-content {
          padding: 0 25px;

     }

     /* --------------ARTICLE COMMENTS-------------- */
     article .msg-display-article {
          height: 100%;
     }

     article .msg-display-article h2 {
          font-size: 20px;
          text-align: center;
          padding: 5px;
     }

     .item img {
          height: 50vh;
     }

     main section {
          display: block;
     }

     .section-category {
          width: 100%;
     }

}